/*Reset*/
html{color:#000;background:#fff}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;font-size:100%}
legend{color:#000}

#container {
	width: 100%;
	height: 98%;
	min-height: 98% !important;
	position: relative;
	overflow: hidden;
}

.hide{
	display: none !important;
}

/* Pins */

.maps, #mapa{
	position:relative;
	width: 8192px;
	height: 2535px;
	background: url(../img/senai_mapa.png) no-repeat top left;
	top: 0px;
	left: 0px;
}

#map{
	opacity: 0;
}


.maps img, .maps canvas, #mapa canvas{
	position:absolute;
	top:0;
	left:0;
	z-index: 1;

	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}

.maps canvas, #mapa canvas{
	z-index: 2;
}

.ui-overlay-shadow{
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
